h2 {
    color: red;
}

h2:hover {
    color: purple;
}
h3 {
    color: red;
}

h3:hover {
    color: purple;
}

input[type="text"] {
    background-color: aqua; 
    color: darkgreen;  
}
input[type="tel"] {
    background-color: aqua; 
    color: darkgreen;  
}
input[type="email"] {
    background-color: aqua; 
    color: darkgreen;  
}
button {
    background-color: olive;
	padding: 20px 40px;  
    font-size: 18px;
}
button:active{
background-color:green}